.parent{
    display: grid;
    justify-content: center;   

}
.Personal{
    background-color: #ffffcc;
    text-align: center;
}
.Magazines{
    background-color: #ffffcc;
    text-align: left;
}
.Subscription{
    background-color: #ffffcc;
    text-align: center;
}
    
